*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;   
}

html {
    font-size: 62.5%;
}

body {
    box-sizing: border-box;
    padding: 1rem;
    line-height: 1.6;
    font-weight: 400;
    font-family: "Lato", sans-serif;
    background-image: linear-gradient(to bottom, #D2F4FF,#59A8EA);
    height: 100vh;
}

.heading-secondary {
    font-size: 3.5rem;
    font-weight: 700;
    display: inline-block;
    background-image: linear-gradient(to right, #ff1a1a, #e60000);
    -webkit-background-clip: text;
    color:transparent;
    letter-spacing: .2rem;
    transition: all .2s;
    &:hover {
        transform: skewY(2deg) skewX(15deg) scale(1.1); 
        text-shadow: .5rem 1rem 2rem rgba(0,0,0, .2);
    }   
}

.form_group,
.login_group,
.patient_group {
    width: 75%;
}

.form_group:not(:last-child) {
    margin-bottom: 1.5rem;
}
.login_group:not(:last-child) {
    margin-bottom: 2.5rem;
}
.patient_group:not(:last-child) {
    margin-bottom: 3rem;
}

.form_input {
    font-size: 1.5rem;
    font-family: inherit;
    color: inherit;
    padding: 1.5rem 2rem;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.5);
    box-shadow: .5rem 1rem 2rem rgba(0,0,0, .15);
    border: none;
    border-bottom: 3px solid transparent;
    width: 100%;
    display: block;
    transition: all .3s;
}

.form_label {
    font-size: 1.4rem;
    font-weight: 400;
    margin-top: 1rem;
    margin-bottom: .7rem;
    color: #777;
    display: block;
    transition: all .3s;
}

.contact__group {
    width: 45%;
    padding: 2rem;
    margin: 5rem auto;
    background-color: #D2F4FF;
    border-radius: 15px;
    border: 3px solid #59A8EA;
    height: 75vh;
    text-align: center;
}

.login {
    width: 35%;
}

.contact__form,
.patient__form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;    
}


.signin {
    margin-top: 10rem;
}

.btn, .btn:link, .btn:visited {
    text-transform: uppercase;
    text-decoration: none;
    padding: .5rem 2rem;
    font-size: 1.6rem;
    display: inline-block;
    border-radius: 10rem;
    transition: all 0.2s;
    position: relative;
    border: none;
    cursor: pointer;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.3);
}
.btn-scan, .btn-scan:link, .btn-scan:visited {
    text-decoration: none;
    padding: .5rem 6rem;
    font-size: 1.6rem;
    display: inline-block;
    border-radius: 10rem;
    transition: all 0.2s;
    position: relative;
    border: none;
    cursor: pointer;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.3);
}

.btn:hover,
.btn-scan:hover {
    transform: translateY(-0.3rem);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.3);
    background-color: #eee;
    color: #777;
}

.btn--white {
    background-color: #ff4d4d;
    color: #eee;
}
.btn--animated {
    animation: moveInButton .5s ease-out .75s;
    animation-fill-mode: backwards;
}
.btn {
    margin-top: 1.5rem;
}

.btn-login, .btn-login:link, .btn-login:visited {
    text-decoration: none;
    padding: .5rem 2rem;
    font-size: 1.2rem;
    display: inline-block;
    transition: all 0.2s;
    position: relative;
    border: none;
    cursor: pointer;
    color: #777;
}

/* Upload iamges */
.patient {
    display: flex;
    align-items: flex-start;
}

.uploadimage {
    flex: 0 0 45%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 2rem;
    margin: 5rem auto;
    background-color: #D2F4FF;
    border-radius: 15px;
    border: 3px solid #59A8EA;
    height: 65vh;
}
.patient__group {
    flex: 0 0 35%;
    margin: 5rem auto;
    height: 45vh;
}

.uploadimage > p {
    font-size: 1.5rem;
    font-weight: 700;
    font-family: inherit;
    color: #777;
    padding: 1rem;
}

.image_input {
    margin-left: 8rem;
}

.image_input:first-of-type {
    margin-top: 2rem;
}

/* Style for flash error messages */
.flash-error {
    background-color: #f8d7da;
    color: #721c24;
    border: 1px solid #f5c6cb;
    padding: 1rem;
    margin: .5rem auto;
    border-radius: .5rem;
    font-size: 1.6rem;
    width: 35%;
    height: 10%;
    text-align: center;
  }
  
.flash-error p {
    line-height: 1.5;
    padding: 1rem;
}